<div class = "stolen-frosty span9 offset3 text-center">

	<h1 class = "stolen-h1">Oh no!<br />I dropped mah keys down da cliff!</h1>

	<h2><br />I guess I'll use da maths to help mah find dem!</h2>

	<%= link_to 'Drop em, bitch!', '#', :class => 'btn btn-danger btn-large' %>

</div>